.loginWithGoogle {
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.69);
}

.body {
    margin-top: 150px;
    min-height: calc(100vh - 250px);
}

@media screen and (max-width: 899px) {
    .body {
        margin-top: 0;
        min-height: auto;
    }
}